.contacts__map {
  width: 600px;
  height: 384px;
  position: relative;

  &[data-load='false']::before {
    @apply w-full h-full block absolute left-0 top-0;
    content: ' ';
    background: rgba(54, 54, 54, 0.41);
    backdrop-filter: blur(50px);
    animation: load 1s linear alternate infinite;
  }

  &[data-load='false'] > img {
    opacity: 0;
  }
  &[data-load='true'] > img {
    opacity: 1;
  }

  @keyframes load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &_iframe {
    @apply w-full h-full;
  }
}
