.home-slider__text {
  @apply relative h-full flex items-center justify-start transition-all;

  width: 400px;
  animation: sliderAnimations 1s linear;

  @media (max-width: 768px) {
    & {
      @apply w-full justify-center absolute z-20 text-center;
      background-color: rgba(0, 0, 0, 0.265);
    }
  }
}
