.header__burger {
  @apply hidden;
  
  width: 25px;
  height: 20px;
  
  @media (width < 768px) {
    & {
      @apply flex items-center justify-center;
    }
  }
  
  &_button {
    @apply relative bg-dark transition-all;
    
    width: 25px;
    height: 2px;
    
    &::after {
      @apply absolute w-full h-full block bg-dark;
      
      content: "";
      top: 5px;
    }
    
    &::before {
      @apply absolute w-full h-full block bg-dark;
      
      content: "";
      bottom: 5px;
    }
    
    &[data-burger="true"] {
      transform: rotate(-45deg);
      
      &::after {
        opacity: 0;
      }
      
      &::before {
        bottom: 0;
        transform: rotate(90deg);
      }
    }
  }
}