.slider_buttons {
  @apply flex items-center justify-center transition-all;

  width: 50px;
  height: 50px;
  background-color: #f2f2f2;

  @media (hover: hover) {
    &:hover {
      @apply bg-grey;
    }
  }
}
